.product-thumbnail {
  color: white;
  background-image: url("https://res.cloudinary.com/nhn1909/image/upload/v1697006763/tgjz3cknmx7y7qzb8mkq.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.product-thumbnail > div {
  /* filter: grayscale(100%); */
}

.icon-link i {
  transition: ease-in-out 0.2s;
}

.icon-link:hover i {
  padding-left: 5px;
  transition: ease-in-out 0.2s;
}
